{
  "hub": {
    "repo": "GitMISMO/initiative-hub",
    "branch": "main",
    "origin": "https://resources.mismo.org"
  },
  "glossary": {
    "repo": "GitMISMO/glossary",
    "branch": "main",
    "origin": "https://resources.mismo.org"
  }
}
